<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AiSkyAppGroup</key>
	<string>$(AISKY_APP_GROUP)</string>
	<key>AiSkyWeatherKitEnabled</key>
	<string>$(AISKY_ENABLE_WEATHERKIT)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).refresh</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aisky</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow-Light.ttf</string>
		<string>Barlow-Medium.ttf</string>
		<string>Barlow-Regular.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
		<string>BarlowCondensed-Medium.ttf</string>
		<string>BarlowCondensed-SemiBold.ttf</string>
		<string>BricolageGrotesque-Medium.ttf</string>
		<string>BricolageGrotesque-Regular.ttf</string>
		<string>BricolageGrotesque-SemiBold.ttf</string>
		<string>BricolageGrotesqueDisplay-Medium.ttf</string>
		<string>DMMono-Medium.ttf</string>
		<string>DMMono-Regular.ttf</string>
		<string>Geist-ExtraLight.ttf</string>
		<string>Geist-Light.ttf</string>
		<string>Geist-Medium.ttf</string>
		<string>Geist-Regular.ttf</string>
		<string>GeistMono-Medium.ttf</string>
		<string>GeistMono-Regular.ttf</string>
		<string>InstrumentSans-Medium.ttf</string>
		<string>InstrumentSans-Regular.ttf</string>
		<string>InstrumentSans-SemiBold.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
		<string>NewsreaderDisplay-Light.ttf</string>
		<string>NewsreaderHeadline-Regular.ttf</string>
		<string>NewsreaderText-Italic.ttf</string>
		<string>NewsreaderText-Medium.ttf</string>
		<string>NewsreaderText-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
